@import url();

html {
  font-size: 16px; /* sets the root font size */
  box-sizing: border-box; /* Sets global default for box model */
  background-color: #edf0f5;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Tells everything to inherit border-box by default */
}

* {
  margin: 0; /* remove default margin */
}

body {
  min-height: 100vh;
  color: #4f5565;
  font-size: 1rem; /* 1rem equals 16px */
  line-height: 1.5rem;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Improve text rendering */
}

input,
button,
textarea,
select {
  font: inherit; /* form controls inherit fonts */
}
